/*Mostrar imagen original*/
#lightbox{background-color:#1a1919;padding: 10px;}
#lightboxDetails{font-size: 0.8em;padding-top: 0.4em;}	
#lightboxCaption{ float: left; }
#lightbox img{ border: none; clear: both;} 
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }
#overlay img{ border: none; }
#overlay{ background-image: url("https://img.webme.com/pic/c/cssplantillas/overlay.png"); }
* html #overlay{
	background-color: #333;
	background-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="https://img.webme.com/pic/c/cssplantillas/overlay.png", sizingMethod="scale");
}
/*Mostrar imagen original*/

/*zoom al pasar sobre la imagen*/
.zoom{transition: transform .5s;}
.zoom:hover{transform: scale(1.15);}
/*zoom al pasar sobre la imagen*/


/*diseño boton de volver al inicio*/
.simplescrollup__button {
    position: fixed;
    bottom: 3rem;
    right:1rem;
    transition: 1s all;
    z-index: 10000;
}

.simplescrollup__button--show {transform: translateX(0);}
.simplescrollup__button--hide {transform: translateX(100px);}
/*diseño boton de volver al inicio*/

/*opacar imagenes*/
.opacar{opacity: 1;}
.opacar:hover{
	transition:all .5s ease-in-out;
	opacity: .7;
	cursor: pointer;
}
/*opacar imagenes*/

/*escala de grises y rotacion*/
.gris:hover{
	filter: grayscale(70%);
	border-radius:50%;
	box-shadow: 0px 0px 15px 15px gray;
	transform: rotate(360deg);
}
/*escala de grises y rotacion*/

/*efecto flip en las imagenes*/
.back{
	background-color: #1F1F1F;
	cursor: pointer;
}
.cards{
	width: 450px;
	height: 400px;
}
/*efecto flip en las imagenes*/

/*diseño del boton go up*/
.go-up:hover{
	transition: transform .5s;
	transform: scale(1.2);
}
/*diseño del boton go up*/

/*Imagenes de la galeria*/
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .col16, .col17, .col18
{
	width: 300px;
	height: 300px;
	background-size: 100% 100%;
}

/*Imagenes de la galeria*/
.col1{background-image: url('../../media/imagenes/galeria/artartida1.jpg')}
.col2{background-image: url('../../media/imagenes/galeria/artartida2.jpg')}
.col3{background-image: url('../../media/imagenes/galeria/artartida3.png')}
.col4{background-image: url('../../media/imagenes/galeria/artartida4.jpg')}
.col5{background-image: url('../../media/imagenes/galeria/artartida5.jpg')}
.col6{background-image: url('../../media/imagenes/galeria/artartida6.jpg')}
.col7{background-image: url('../../media/imagenes/galeria/amazonas1.jpg')}
.col8{background-image: url('../../media/imagenes/galeria/amazonas2.jpg')}
.col9{background-image: url('../../media/imagenes/galeria/amazonas3.jpg')}
.col10{background-image: url('../../media/imagenes/galeria/amazonas4.jpg')}
.col11{background-image: url('../../media/imagenes/galeria/amazonas5.jpg')}
.col12{background-image: url('../../media/imagenes/galeria/amazonas6.jpg')}
.col13{background-image: url('../../media/imagenes/galeria/africa.jpg')}
.col14{background-image: url('../../media/imagenes/galeria/africa2.jpeg')}
.col15{background-image: url('../../media/imagenes/galeria/africa3.jpeg')}
.col16{background-image: url('../../media/imagenes/galeria/africa4.jpg')}
.col17{background-image: url('../../media/imagenes/galeria/africa5.jpg')}
.col18{background-image: url('../../media/imagenes/galeria/africa6.jpg')}
/*Imagenes de la galeria*/